.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #b6b4b4;
    color: #333;
}
.emogi {
    height: 150px;
    width: auto;
    margin-bottom: 60px;
}